#pageTitle {
	background-color: #ccc;
}

#pageTitle > * {
	padding-left: 10px;
}

#pageBody {
	background-color: #ddd;
}

#infoContainer {
	text-align: center;
	margin-top: 10px;
}

#mapTable {
	text-align: center;
	margin: 20px auto;
	border: 1px solid #555;
}

#gameStatusMessage {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	margin-left: -15px;
}

.gameStatusBackground {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.gameStatusWin {
	opacity: 0.5;
	background-color: #C1FF80;
}

.gameStatusLose {
	opacity: 0.5;
	background-color: #FF8080;
}

.gameStatusText {
	opacity: 1;
	font-weight: bold;
	color: #222;
}

.mapCell {
	width: 30px;
	height: 30px;
	border: 1px solid #555;
}

p.verticalAlign,
h2.verticalAlign,
h4.verticalAlign {
	position:relative;
	top:50%;
	transform: translateY(-50%);
	webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	margin: 0px;
}

.mapEmptyCell {
	background-color: #fff;
	width: 100%;
	height: 100%;
}

.mapLowWarnCell {
	background-color: #C1FF80;
	width: 100%;
	height: 100%;
}

.mapMidWarnCell {
	background-color: #FFFC80;
	width: 100%;
	height: 100%;
}

.mapHiWarnCell {
	background-color: #FFC280;
	width: 100%;
	height: 100%;
}

.mapMineCell {
	background-color: #FF8080;
	width: 100%;
	height: 100%;
}

.mapFlagCell {
	background-color: #8094FF;
	width: 100%;
	height: 100%;
}

.fixMargin {
	margin-right: 0px !important;
	margin-right: 0px !important;
}